<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="toolbar-item button-wrapper">
      <button *ngIf="showButton" mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <a routerLink="overview" class="toolbar-item"><mat-icon>info</mat-icon></a>
    <a mat-button class="toolbar-item" routerLink="html" routerLinkActive="active" >HTML</a>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="showSidenav" mode="side">drawer content</mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
